/*--------------------------------------
    Ink & Espresso Website
    Author: Atika
    File: style.css
----------------------------------------*/
/*========== CSS RESET ==========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/*========== VARIABLES ==========*/

:root{

    --primary-color: #2D6A4F;
    --secondary-color: #6F4E37;
    --accent-color: #95D5B2;

    --background-color: #FCFBF8;

    --text-color: #2E2E2E;

    --white-color: #FFFFFF;

}



/*========== NAVIGATION ==========*/

.navbar{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 8%;

}


.nav-links{

    display: flex;

    list-style: none;

    gap: 30px;

}


.nav-links a{

    text-decoration: none;

    color: var(--text-color);

    font-weight: 500;

    transition: 0.3s ease;

}


.nav-links a:hover{

    color: var(--primary-color);

}

/*========== LOGO ==========*/

.logo{

    font-family: "Playfair Display", serif;

    font-size: 2rem;

    font-weight: 700;

    color: var(--primary-color);

    text-decoration: none;
    transition: 0.3s ease;
}

.logo:hover{
    /*color: var(--secondary-color);*/
    transform: scale(1.1);
}

/*========== BUTTON ==========*/

.btn{

    background-color: var(--primary-color);

    color: var(--white-color);

    text-decoration: none;

    padding: 12px 24px;

    border-radius: 50px;

    transition: 0.3s ease;

}

.btn:hover{

    background-color: var(--secondary-color);

}



/*========== HERO SECTION ==========*/
.hero-image img{
    width: 100%;
    max-width: 550px;
    height: auto;
}

#hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:80px 8%;

    gap:60px;

}

.hero-content{

    flex:1;

}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

}

.hero-content h1{

    font-family:"Playfair Display", serif;

    font-size:4rem;

    color:var(--primary-color);

    margin-bottom:20px;

}

.hero-content p{

    font-size:1.1rem;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

